ul li {
  list-style: none;
  margin: 0 10px 10px 0;
}
ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.board-tile {
  display: block;
  padding: 15px;
}
.boards-form li {
  height: 100px;
  width: 280px;
  background: #0067a3;
}
@media only screen and (max-width: 750px) {
  .boards-form li  {
    width: 100%;
  }
}
.boards-form a {
  color: white;
}
.create-board {
  width: 400px;
  height: 140px;
  margin: 50px auto 0 auto;

}
.create-board:focus {
  outline: none;
}
.create-board-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  float: none;
  top: 0;
}
.create-board-input-area {
  width: 300px;
  height: 100px;
  background-color: #0067a3;
  padding: 10px;
  color: black;
}
.create-board-input {
  border: none;
}
.close-modal-btn {
  position: relative;
  float: right;
  border: none;
  background-color: unset;
  margin: -31px -10px 0px 0px;
}
.close-modal-btn:hover, .close-modal-btn:focus:active,
.close-modal-btn:focus, .close-modal-btn:active {
  border: none;
  background-color: unset;
  box-shadow: unset;
}
.create-board-input-area .remove, .create-board-input-area .form-error {
  display: none;
}
.create-board-btn {
  position: absolute;
  top: 155px;
  margin-left: -10px;
  background: #F8F9F9;
  color: #B6BBBF;
}
