.home-nav {
  background-color: #0079bf;
  padding: 15px;
}
.logo img {
  height: 2.5em;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
.nav-right button {
  margin-left: 15px;
}
.login-btn, .logout-btn {
  background-color: #0067a3;
}
.sign-up-btn {
  background-color: #61bd4f;
}
.invisible {
  visibility: hidden;
}
.input-field {
  width: 315px;
}
header a {
  color: white;
}
.header-bar {
  height: 7%;
}
